@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-areas: "header header" "main aside" "footer footer";
  grid-template-columns: 6fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.pageTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center; }

.blurb {
  padding: 1rem;
  text-align: center;
  max-width: 1100px;
  margin: 1rem auto 2rem; }

h1 {
  font-family: "Vollkorn SC", serif;
  font-size: 3.2em;
  color: #2b2b2b; }

h2 {
  font-family: "Vollkorn SC", serif;
  font-size: 2.4em;
  color: #2b2b2b; }

h3 {
  font-family: "Vollkorn SC", serif;
  font-size: 2em;
  color: #2b2b2b; }

p {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  color: black; }

.italics {
  font-style: italic; }

.inputField {
  padding: 1rem;
  border-radius: 7%;
  border-color: #E69597;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  text-align: center; }
  .inputField:focus {
    outline-color: #6E8894; }

.inputButton {
  padding: 0.5rem;
  border-color: #E69597;
  border-radius: 15%;
  font-family: "Vollkorn SC", serif; }

.gallery, .gallery-index, .gallery-landscape {
  display: grid;
  grid-template-areas: "fotoUno fotoDos" "fotoTres fotoCuatro";
  justify-content: center;
  gap: 2rem;
  padding: 2rem; }
  .gallery img:nth-of-type(1), .gallery-index img:nth-of-type(1), .gallery-landscape img:nth-of-type(1) {
    grid-area: fotoUno; }
  .gallery img:nth-of-type(2), .gallery-index img:nth-of-type(2), .gallery-landscape img:nth-of-type(2) {
    grid-area: fotoDos; }
  .gallery img:nth-of-type(3), .gallery-index img:nth-of-type(3), .gallery-landscape img:nth-of-type(3) {
    grid-area: fotoTres; }
  .gallery img:nth-of-type(4), .gallery-index img:nth-of-type(4), .gallery-landscape img:nth-of-type(4) {
    grid-area: fotoCuatro; }

@media screen and (max-width: 820px) {
  body {
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto auto;
    min-height: 100vh; }
  .gallery, .gallery-index, .gallery-landscape {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem; }
    .gallery img, .gallery-index img, .gallery-landscape img {
      border-radius: 10%; } }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.4em; }
  h2 {
    font-size: 2em; }
  img {
    width: 100%;
    height: auto;
    border-radius: 10%; }
  .blurb {
    font-size: 1em;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto 2rem; } }

@media screen and (max-width: 414px) {
  .blurb {
    font-size: 0.8em;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto 2rem; } }

@keyframes from-left {
  0% {
    transform: translate(-1800px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes from-right {
  0% {
    transform: translate(1800px, 0px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes from-bottom {
  0% {
    transform: translate(0, 1800px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes materialize {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes skew-img {
  0% {
    transform: skewX(-5deg); }
  50% {
    transform: skewX(5deg); }
  100% {
    transform: skewX(0deg); } }

@keyframes skew-img-reverse {
  0% {
    transform: skewY(5deg); }
  50% {
    transform: skewY(-5deg); }
  100% {
    transform: skewY(0deg); } }

@keyframes explode {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 1.1); }
  100% {
    transform: scale(1, 1); } }

@keyframes implode {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.9, 0.9); }
  100% {
    transform: scale(1, 1); } }

@keyframes rotate-img {
  0% {
    transform: rotatex(180deg); }
  100% {
    transform: rotatex(0deg); } }

header {
  background-color: #6E8894;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; }
  header img:hover {
    filter: saturate(130%); }
  header ul {
    display: flex;
    flex-direction: row;
    gap: 2rem; }
    header ul div {
      display: flex;
      flex-direction: row;
      gap: 2rem; }
    header ul li {
      list-style-type: none; }
      header ul li a {
        text-decoration-line: none;
        color: #2b2b2b;
        font-family: "Vollkorn SC", serif;
        font-size: 2.4em;
        font-weight: bold;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: all 0.17s linear; }
        header ul li a:hover {
          border-bottom: 2px solid black;
          color: black; }

@media screen and (max-width: 912px) {
  header {
    flex-direction: column; }
    header ul {
      flex-direction: row;
      align-items: center;
      gap: 2rem -lesser;
      padding-top: 2rem; } }

@media screen and (max-width: 540px) {
  header {
    flex-direction: column; }
    header ul {
      flex-direction: column;
      align-items: center;
      padding-top: 2rem; }
      header ul li a {
        font-size: 2em; } }

@media screen and (max-width: 414px) {
  header {
    flex-direction: column; }
    header ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding-top: 2rem; } }

@media screen and (max-width: 320px) {
  header {
    flex-direction: column;
    padding: 1rem; }
    header ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem; }
      header ul li a {
        font-size: 1.6em; } }

footer {
  background-color: #6E8894;
  grid-area: footer;
  font-weight: bold; }
  footer section {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer section article p {
      font-family: "Vollkorn SC", serif;
      color: #2b2b2b; }
    footer section article div {
      display: flex;
      justify-content: center; }
  footer .copyRight {
    display: flex;
    justify-content: center;
    border-top: solid 1px #636363;
    font-family: "Vollkorn SC", serif;
    font-size: 1.6em;
    color: #2b2b2b;
    padding: 0.5rem; }
    footer .copyRight p {
      font-size: inherit;
      font-family: inherit;
      color: inherit; }
    footer .copyRight a {
      padding-left: 1rem;
      text-decoration-line: none;
      color: #2b2b2b; }

@media screen and (max-width: 820px) {
  footer section {
    flex-direction: column;
    text-align: center;
    gap: 2rem; }
  footer .copyRight {
    gap: 0.5rem; } }

@media screen and (max-width: 767px) {
  footer section {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    font-size: 0.8em; }
  footer .copyRight {
    gap: 0.5rem; } }

main {
  grid-area: main;
  background-color: #F6F7EB; }

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: #E69597;
  font-family: "Vollkorn SC", serif; }

.asideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem; }
  .asideBar form input {
    font-size: 1.6em; }

.gallery-index img:nth-of-type(1) {
  animation-name: from-left;
  animation-duration: 1s; }
  .gallery-index img:nth-of-type(1):hover {
    filter: drop-shadow(-8px -8px 10px gray); }

.gallery-index img:nth-of-type(2) {
  animation-name: from-right;
  animation-duration: 1s; }
  .gallery-index img:nth-of-type(2):hover {
    filter: drop-shadow(8px -8px 10px gray); }

.gallery-index img:nth-of-type(3) {
  animation-name: from-left;
  animation-duration: 1s; }
  .gallery-index img:nth-of-type(3):hover {
    filter: drop-shadow(-8px 8px 10px gray); }

.gallery-index img:nth-of-type(4) {
  animation-name: from-right;
  animation-duration: 1s; }
  .gallery-index img:nth-of-type(4):hover {
    filter: drop-shadow(8px 8px 10px gray); }

.menuContainer {
  max-width: 1100px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin: auto;
  padding: 2rem;
  gap: 2rem; }

.menu, .menu--beverages, .menu--sandwiches, .menu--everythingElse {
  padding: 2rem;
  border-radius: 5%;
  border: solid 1px #2b2b2b;
  animation-duration: 1s; }
  .menu div, .menu--beverages div, .menu--sandwiches div, .menu--everythingElse div {
    padding: 0.5rem;
    border-bottom: 1px solid black; }
    .menu div:hover, .menu--beverages div:hover, .menu--sandwiches div:hover, .menu--everythingElse div:hover {
      font-weight: 600; }
  .menu span, .menu--beverages span, .menu--sandwiches span, .menu--everythingElse span {
    font-weight: bold;
    padding-left: 2rem; }
  .menu h2, .menu--beverages h2, .menu--sandwiches h2, .menu--everythingElse h2 {
    margin-bottom: 2rem;
    color: black; }
  .menu .italics, .menu--beverages .italics, .menu--sandwiches .italics, .menu--everythingElse .italics {
    font-size: 1.6em; }
  .menu--beverages {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../media/food-1.svg);
    animation-name: explode; }
  .menu--sandwiches {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url(../media/food-2.svg);
    animation-name: explode; }
  .menu--everythingElse {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(../media/food-3.svg);
    animation-name: implode; }

@media screen and (max-width: 912px) {
  .menuContainer {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 540px) {
  .menuContainer {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; } }

.nameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem; }
  .nameCard__each, .nameCard__each--reverse {
    display: flex;
    flex-direction: row;
    max-width: 1200px; }
    .nameCard__each--reverse {
      flex-direction: row-reverse; }
  .nameCard__text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .nameCard__name {
    padding: 2rem;
    text-align: center; }
  .nameCard__description {
    padding: 2rem;
    font-weight: 300; }
  .nameCard__image {
    padding: 2rem;
    border-radius: 10%;
    animation-name: materialize;
    animation-duration: 1s;
    outline: 2px solid #2b2b2b; }
    .nameCard__image:hover {
      outline: 4px solid #2b2b2b; }

.quoteList {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: end;
  gap: 2rem;
  padding: 2rem; }
  .quoteList article {
    max-width: 450px;
    padding: 1rem; }
    .quoteList article p {
      font-family: "Vollkorn SC", serif; }
    .quoteList article:nth-child(odd) {
      align-self: flex-end; }
    .quoteList article:nth-child(even) {
      align-self: flex-start; }

@media screen and (max-width: 912px) {
  .nameCard__text {
    font-size: 1em; }
  .nameCard__name {
    padding: 1rem; }
  .nameCard__description {
    padding: 1rem; }
  .nameCard__image {
    padding: 1rem;
    outline: none; }
  .nameCard .nameCard__each, .nameCard .nameCard__each--reverse {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .quoteList article:nth-child(odd) {
    align-self: flex-end;
    text-align: end; }
  .quoteList article:nth-child(even) {
    align-self: flex-end;
    text-align: end; } }

@media screen and (max-width: 390px) {
  .nameCard__text {
    font-size: 0.8em; } }

@media screen and (max-width: 539px) {
  .quoteList article p {
    font-size: 1.6em; } }

.gallery-landscape img:nth-of-type(1) {
  filter: grayscale(25%);
  animation-name: skew-img;
  animation-duration: 1s; }
  .gallery-landscape img:nth-of-type(1):hover {
    filter: grayscale(0%); }

.gallery-landscape img:nth-of-type(2) {
  filter: grayscale(50%);
  animation-name: skew-img-reverse;
  animation-duration: 1s; }
  .gallery-landscape img:nth-of-type(2):hover {
    filter: grayscale(0%); }

.gallery-landscape img:nth-of-type(3) {
  filter: grayscale(75%);
  animation-name: from-bottom;
  animation-duration: 1s; }
  .gallery-landscape img:nth-of-type(3):hover {
    filter: grayscale(0%); }

.gallery-landscape img:nth-of-type(4) {
  filter: grayscale(75%);
  animation-name: from-bottom;
  animation-duration: 1s; }
  .gallery-landscape img:nth-of-type(4):hover {
    filter: grayscale(0%); }

.historyText {
  animation-name: from-bottom;
  animation-duration: 1s; }

@media screen and (max-width: 912px) {
  .gallery-landscape img:nth-of-type(1) {
    filter: grayscale(0%); }
  .gallery-landscape img:nth-of-type(2) {
    filter: grayscale(0%); }
  .gallery-landscape img:nth-of-type(3) {
    filter: grayscale(0%); }
  .gallery-landscape img:nth-of-type(4) {
    filter: grayscale(0%); } }

.forms {
  font-size: 2em;
  font-family: "Vollkorn SC", serif;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem; }
  .forms div {
    animation-name: rotate-img;
    animation-duration: 1s;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .forms div .inputButton {
      font-size: 0.8em; }

@media screen and (max-width: 820px) {
  .forms div {
    display: flex;
    flex-direction: column;
    text-align: center; } }
