// formato flex para la sidebar
aside {    
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: map-get($spacings, spacing);
    background-color: map-get($colors, secondary);
    font-family: map-get($fonts, title-font);
}

.asideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: map-get($spacings, spacing-lesser);
    form {
        input {
            font-size: map-get($fontSizes, small-text);
        }
    }
}