footer {
    background-color: map-get($colors, primary);
    grid-area: footer;
    font-weight: bold;

    section {
        padding: map-get($spacings, spacing);
        display: flex;
        justify-content: space-between;
        align-items: center;

        article {
            p {
                font-family: map-get($fonts, title-font);
                color: map-get($colors, text-color);
            }
            div {
                display: flex;
                justify-content: center;
            }
        }
    }
    .copyRight {
        display: flex;
        justify-content: center;
        border-top: solid 1px rgb(99, 99, 99);
        font-family: map-get($fonts, title-font);
        font-size: map-get($fontSizes, small-text);
        color: map-get($colors, text-color);
        padding: map-get($spacings, spacing-tiny);
        a {
            padding-left: map-get($spacings, spacing-lesser);
            text-decoration-line: none;
            color: map-get($colors, text-color);
        }
    }

}

@media screen and (max-width: 820px) {
    footer {
        section {
            flex-direction: column;
            text-align: center;
            gap: map-get($spacings, spacing);
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        section {
            flex-direction: column;
            text-align: center;
            gap: map-get($spacings, spacing);
            font-size: map-get($fontSizes, tiny-text);
        }
    }
}