.forms {
    font-size: map-get($fontSizes, text-size);
    font-family: map-get($fonts, title-font);
    color: map-get($colors , text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map-get($spacings, spacing);
    padding: map-get($spacings , spacing);
}

@media screen and (max-width: 820px) {
    .forms div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}