.indexGallery {
    display: grid;
    grid-template-areas:
        "fotoUno fotoDos"
        "fotoTres fotoCuatro";
    grid-template-rows: 362px 395px;
    grid-template-columns: 624px 382px;
    justify-content: center;
    gap: map-get($spacings, spacing);
   
    &__first-img {
        grid-area: fotoUno;
        animation-name: from-left;
        animation-duration: 1s;
        &:hover {
            filter: drop-shadow(-8px -8px 10px gray);
        }
    }

    &__second-img {
        grid-area: fotoDos;
        animation-name: from-right;
        animation-duration: 1s;
        &:hover {
            filter: drop-shadow(8px -8px 10px gray);
        }
    }

    &__third-img {
        grid-area: fotoTres;
        animation-name: from-left;
        animation-duration: 1s;
        &:hover {
            filter: drop-shadow(-8px 8px 10px gray);
        }
    }

    &__fourth-img {
        grid-area: fotoCuatro;
        animation-name: from-right;
        animation-duration: 1s;
        &:hover {
            filter: drop-shadow(8px 8px 10px gray);
        }
    }
}

@media screen and (max-width: 820px) {
    .indexGallery {
        display: flex;
        flex-direction: column;
        margin-left: map-get($spacings, spacing-lesser);
        margin-right: map-get($spacings, spacing-lesser);
        margin-bottom: map-get($spacings, spacing-lesser);
    }
}