.gallery-landscape {
    @extend .gallery;

    img:nth-of-type(1) {
        filter: grayscale(25%);
        @include gallery-image(skew-img, grayscale(0%))
    }

    img:nth-of-type(2) {
        filter: grayscale(50%);
        @include gallery-image(skew-img, grayscale(0%))
    }

    img:nth-of-type(3) {
        filter: grayscale(75%);
        @include gallery-image(from-bottom, grayscale(0%))
    }

    img:nth-of-type(4) {
        filter: grayscale(75%);
        @include gallery-image(from-bottom, grayscale(0%))
    }
}

.historyText {
    animation-name: from-bottom;
    animation-duration: 1s;
}

@media screen and (max-width: 912px) {
    .gallery-landscape {
        img:nth-of-type(1) {
            filter: grayscale(0%);
        }
        img:nth-of-type(2) {
            filter: grayscale(0%);
        }
        img:nth-of-type(3) {
            filter: grayscale(0%);
        }
        img:nth-of-type(4) {
            filter: grayscale(0%);
        }
    }
    
}