@keyframes from-left {
    0% {
        transform: translate(-1800px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes from-right {
    0% {
        transform: translate(1800px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes from-bottom {
    0% {
        transform: translate(0, 1800px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes materialize {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes skew-img {
    0% {
        transform: skewX(-5deg);
    }

    50% {
        transform: skewX(5deg)
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes skew-img-reverse {
    0% {
        transform: skewY(5deg);
    }

    50% {
        transform: skewY(-5deg);
    }

    100% {
        transform: skewY(0deg);
    }
}

@keyframes explode {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes implode {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.9,0.9);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes rotate-img {
    0% {
        transform: rotatex(180deg);
    }
    100% {
        transform: rotatex(0deg);
    }
}